@charset "UTF-8";

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}
h2{
    text-align: justify;
    color: white;
}
p{
    text-align: justify;
    color: brown;
}