@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
    
}
:root{
    --cor01: #0B083B; 
    --cor02: #1D1959;
    --cor03: #363377;
    --cor04: #585594;
    --cor05: #827FB2;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}
header {
    background-color: #333;
    color: #ffff;
    padding: 20px 60PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.logo a{
    color: #ffff;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    
}
nav ul{
    display: flex;
    align-items:center;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
    list-style: none;
}
nav ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.4s ease;

}
nav ul li a:hover{
    color: #ffffff;  
    text-decoration: underline;
    transition: 0.4S ease; 
}
.procurar{
    position: relative;

}
.procurar input{
    padding: 10px;
    border-radius: 20px;
    background-color: #444;
    color: #fff;

}
.procurar button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color:#fff;
    font-size: 16px;
    font-weight: 600px;
    color: #444;
}
.conteudo{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
   

}
.conteudo-um h1{ 
    font: 48px;
    color: #0B083B;  
}
.conteudo-um p{
    font: 24px;
    font-weight:500;
    color: #0B083B;
    margin-bottom: 20px;

}
.main-conteudo{
    background-color: #3b3b3b; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}








