@charset "UTF-8"

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;

}

body {
    background-image: linear-gradient(to right blue, orange, red);
    margin: 20px;
}
 
main{
    background-color: white;
    border-color: aliceblue;
    width: 650px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: brown;
    text-align: center;
    text-shadow: 1px 1px 2pxm rgb(87, 74, 74);

}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

