@charset "UTF-8"

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #626577, #8C533E,  #ec9a6a );
    margin: 50px;
    
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2a2d4050;
    width: 650px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: #2A2D40;
    text-align: center;
    text-shadow: 1px 1px 2px #2A2D40 ;
}
h2 {
    color:#4e2c19 ;
}
p{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
